RABBITMQ_CONNECTION_URL=amqp://localhost
RABBITMQ_INGESTION_QUEUE_NAME=audit-ingestion

CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=9000
CLICKHOUSE_DATABASE=default
CLICKHOUSE_USERNAME=default
CLICKHOUSE_PASSWORD=

BATCH_INGESTION_SIZE=100
BATCH_FLUSH_INTERVAL_IN_SECONDS=30